body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 34px;
	color: #333;
	text-transform: uppercase;
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #917307;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
	text-align: center;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #917307;
	margin: 0;
	margin-bottom: 40px;
	border: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
	background-color: #000000;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 30px;
	color: #d4ab19;
	font-weight: 700;
	letter-spacing: 1px;
	font-style: normal;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #ddd;
	font-weight: 500;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #917307;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.on {
	background-color: #262626 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #d4ab19 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #917307;
	border-color: #917307;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	margin-bottom: 70px;
}
.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
	opacity: 1;
}
.section-title p {
	font-size: 22px;
	color: rgba(255,255,255,0.8);
	text-align: center;
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #917307;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #917307;
}

/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.4);
}
.intro h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #fff;
	font-size: 10em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro span {
	color: #917307;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 67px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 40px;
}
header .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
	text-align: center;
}
/* About Section */
#about {
	padding: 120px 0;
}
#about h3 {
	font-size: 20px;
}
#about .about-text {
	margin-left: 10px;
}
#about .about-img {
	display: inline-block;
	position: relative;
}
#about .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
	text-align: justify;
}
/* Menu Section */
#restaurant-menu {
	padding: 0 0 60px 0;
}
#restaurant-menu .section-title {
	background: #444 url(../img/menu-bg.jpg) center center no-repeat fixed;
	background-size: cover;
}
#restaurant-menu .section-title h2 {
	color: #fff;
	text-align: center;
}
#restaurant-menu img {
	width: 300px;
	box-shadow: 15px 0 #917307;
}
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 26px;
	display: block;
	font-weight: 500;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 35px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 600;
	font-size: 20px;
	color: #555;
	border-bottom: 2px dotted rgb(213, 213, 213);
}
#restaurant-menu .menu-item-description {
	font-style: italic;
	font-size: 18px;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 600;
	color: #555;
	margin-top: -26px;
}
/* Portfolio Section */
#portfolio {
	padding: 0 0 120px 0;
}
#portfolio .section-title {
	background: #444 url(../img/gallery-bg.jpg) center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}
#portfolio .section-title h2 {
	color: #fff;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin: 0 10px;
	padding: 20px 0;
}
ol.type li a {
	color: #999;
	font-weight: 500;
	font-size: 14px;
	padding: 12px 24px;
	background: #eee;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
ol.type li a.active {
	color: #fff;
	background-color: #917307;
}
ol.type li a:hover {
	color: #fff;
	background-color: #917307;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
}
.portfolio-item .hover-bg:before {
	display: block;
	content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: 6px;
	border: 1px solid rgba(255, 255, 255, 0.6);
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: 500;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}

/* Seccion testimonios */
#testimonios {
	padding: 0 0 120px 0;
}
#testimonios .section-title {
	background: #444 url("../img/testimonios-bg.jpg") center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}
#testimonios .section-title h2 {
	color: #fff;
}
#testimonios .wrapper{
	width: 100%;
	margin-top: 100px;
	background: #fff;
	padding: 30px 0;
}

#testimonios .slider-testimonial{
	width: 85%;
	max-width: 1400px;
	margin: auto;
}

#testimonios .testimonial-client{
	margin-bottom: 15px;
}

#testimonios .testimonial-client img{
	width: 120px;
	margin:auto;
}

#testimonios .client-name{
	font-family: "Open sans";
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	color: #B08900;
}

#testimonios .testimonial-text{
	padding: 10px 120px;
}

#testimonios .testimonial-text p{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	color: #676767;
}

/* Seccion acerca de */
#conocemos {
	padding: 0 0 120px 0;
}
#conocemos .section-title {
	background: #444 url("../img/conocenos-bg.jpg") center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}
#conocemos .section-title h2 {
	color: #fff;
}

#conocemos .icon {
	background: center;
	}

/* Seccion de contacto */
#contacto {
	padding: 0 0 120px 0;
}
#contacto .section-title {
	background: #444 url("../img/contactanos-bg.jpg") center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}
#contacto .section-title h2 {
	color: #fff;
}
#contacto .container-form{
	width: 100%;
	max-width: 1100px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 500px);
	grid-gap: 50px;
	margin-top: 90px;
}
#contacto .container-form h2{
	margin-bottom: 15px;
	font-size: 35px;
	color: #917307;
}
#contacto .container-form p{
	font-size: 17px;
	line-height: 1.6;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px #917307;
	box-shadow: 0px 0px #917307;
	text-align: left;
}
#contacto .container-form a{
	font-size: 17px;
	display: inline-block;
	text-decoration: none;
	width: 100%;
	margin-bottom: 15px;
	color: black;
	font-weight: 400;
}
#contacto .container-form a i{
    color: #917307;
    margin-right: 10px;
}
#contacto .form_input {
	padding: 15px 10px;
	font-size: 16px;
	border: 1px solid #dbdbdb;
	margin-bottom: 20px;
	border-radius: 3px;
	outline: 0px;
	min-width: 530px;
	min-height: 40px;
	max-width: 530px;
	max-height: 150px;
}
#contacto .container-form .info-form .fa-envelope {
	color: #917307
}
#contacto .container-form .info-form .fa-map-marker {
	color: #917307
}
#contacto .container-form .info-form .fa-phone {
	color: #917307
}
#contacto .form_input--message {
	border: 1px solid #dbdbdb;
	font-size: 16px;
	padding: 15px 10px;
	max-width: 530px;
	min-width: 530px;
	min-height: 150px;
	max-height: 150px;
}
#contacto .form_cta {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #917307;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
#contacto .container-form .form_cta:hover{
    background: #090700;
}

/*Boton de ir arriba*/
#button-up{
    width: 60px;
    height: 60px;
    background: #7A6106;
	display: flex;
    justify-content: center;
    align-items: center;
    color: white;
	border-radius: 50%;
    font-size: 20px;
	position: fixed;
    bottom: 25px;
    right: 35px;
    cursor: pointer;
	border: 4px solid transparent;
	transition: all 300ms ease;
}
#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}


footer{
   position:relative; 
   background-color:#111111;
   height:70px;
   color:#FFF;
   clear:both;
   text-align: center;
   line-height: 60px;
 }
.center {
}
